<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAckstreet_coders</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/a9037bba18.js" crossorigin="anonymous"></script>
</head> 

<body>
    <header>
        <nav>
            <div class="nav-img">
                <div class="logo">

                </div>

            </div>
            <div class="right">
                <ul>
                    <li><a href="/register">Home</a></li>
                    <li><a href="About">About</a></li>
                    <li><a href="health">Health plans</a></li>
                    <li><a href="cons">Consultants</a></li>
                    <li><a href="solutions">Solutions</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <div class="first-section">
        <div class="left-section">
            Revolutionize <span class="red">Healthcare</span> Solutions 
        </div>
        <div class="right-section">
            
            

        </div>
    </div>
    <div class="second-section">
        <div class="about">
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolor consectetur id illum beatae doloribus dolorum incidunt, ducimus sequi tempora amet, ex placeat, nemo eligendi libero pariatur impedit minus. Dolores odit nesciunt deserunt ducimus! Sunt ut eius, vel officia doloribus commodi obcaecati tempore illum explicabo tenetur harum quasi voluptatibus nulla neque, deleniti possimus earum deserunt quisquam beatae adipisci modi molestias. Eum id illum maiores enim voluptatem officiis qui neque minus vitae, mollitia cum distinctio sunt ex, praesentium accusantium aliquam consequuntur placeat quam! Necessitatibus cupiditate repudiandae mollitia incidunt vitae aperiam fugiat!
            </p>
            <img class="about-img" src="../public/photos/jpeg.jpeg"/>
            
            
        </div>
            
    </div>
    <div class="third-section">
        <div class="heading">
            <h2>Services</h2>
            <hr>
            
            <div class="image-container">
                <img class="a" src="../public/photos/future1.jpg"\ alt="Image">
            
                <a href="http://127.0.0.1:5501/html/future_plans.html" class="button">Future Plans</a>
                <img class="a1" src="../public/photos/demo.jpg"\ alt="Image">
                <a href="https://www.w3schools.com/" class="button1">FreeDemo</a>

              </div>
              
        </div>
    </div>
    


</body>

</html>