<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Innovative</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style1.css">
    <script src="https://kit.fontawesome.com/a9037bba18.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-img">
                <div class="logo">

                </div>

            </div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#latestupdates">Latestupdates</a></li>
                </ul>


            </div>

        </nav>
    </header>
    <div class="first-section">
        <div class="left-section">
            Revolutionize <span class="red">Healthcare</span> Solutions
        </div>
        <div class="right-section">



        </div>
    </div>
    <div class="second-section">
        <div id="about">
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolor consectetur id illum beatae
                doloribus dolorum incidunt, ducimus sequi tempora amet, ex placeat, nemo eligendi libero pariatur
                impedit minus. Dolores odit nesciunt deserunt ducimus! Sunt ut eius, vel officia doloribus commodi
                obcaecati tempore illum explicabo tenetur harum quasi voluptatibus nulla neque, deleniti possimus earum
                deserunt quisquam beatae adipisci modi molestias. Eum id illum maiores enim voluptatem officiis qui
                neque minus vitae, mollitia cum distinctio sunt ex, praesentium accusantium aliquam consequuntur placeat
                quam! Necessitatibus cupiditate repudiandae mollitia incidunt vitae aperiam fugiat!
            </p>
            <img class="about-img" src="photos/jpeg.jpeg" />


        </div>

    </div>
    <div class="third-section">
        <div id="heading">
            <h2>Our Services</h2>
            <hr>

            <div class="image-container">
                <img class="a" src="photos/nutrition.jpg" \ alt="Image">

                <a href="http://127.0.0.1:5501/fitness&nutrition.html" class="button">Fitness diet & Nutrition</a>
                <img class="a1" src="photos/demo.png.jpg" \ alt="Image">
                <a href="https://www.w3schools.com/" class="button1">FreeDemo</a>

                <img class="a2" src="photos/hospital1.jpg" \ alt="Image">
                <a href="#" class="button3">LifeSaver</a>

            </div>

        </div>
    </div>
    <div id="consultants">
        <div id="cons1">
            <h1>Consultants</h1>
            <hr>
            <img class="cons1-img" src="photos/work.png">
            <p>Consultation with our most trusted Doctors!</p>
            <div class="box1">

                <div class="box2"></div>
                <div class="box3"></div>
            </div>
            <!-- <a href="#" class="button-book">Book Now</a> -->
            <!-- <a href="#" class="button-book1">Book Now</a>
            <a href="#" class="button-book2">Book Now</a> -->
            <!-- <div class="image-wrap">
                <div className="row">
                    <div className="col-lg-4 tiffins">
                      <img className="tiffins-img" src="surya1.png" alt="" />
                    </div>
                    <div className="col-lg-4 tiffins">
                      <img className="tiffins-img" src="bipin1.png" alt="" />
                    </div>
                    <div className="col-lg-4  tiffins">
                      <img className="tiffins-img" src="deepti1.png" alt="" />
                    </div>
                  </div> -->
                <!-- <img class="box11" src="deepti1.png"> -->
                <a href="#" class="button-book">Book Now</a>
                <a href="#" class="button-book1">Book Now</a>
            <a href="#" class="button-book2">Book Now</a>
            <!-- <img class="box12" src="bipin3.jpg"> -->
                <!-- <img class="box22" src="bipin1.png">
                <img class="box33" src="surya1.png"> -->
            </div>





        </div>
    </div>



</body>

</html>
