<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Innovative</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style1.css">
    <script src="https://kit.fontawesome.com/a9037bba18.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-img">
                <div class="logo">

                </div>

            </div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#heading">Services</a></li>
                    <li><a href="https://timesofindia.indiatimes.com/life-style/health-fitness/health-news">Latest updates</a></li>
                    
                </ul>

             

            </div>

        </nav>
    </header>
    <div class="first-section">
        <div class="left-section">
            Revolutionize <span class="red">Healthcare</span> Solutions
        </div>
        <div class="right-section">



        </div>
    </div>
    <div class="second-section">
        <div id="about">
            <h1>About Us</h1>
            <p>
                "Healthcare Innovative is a cutting-edge medical website dedicated to revolutionizing the way we approach healthcare. With a focus on integrating technology and medicine, our platform offers a seamless experience for both patients and healthcare providers. Through interactive telemedicine services, patients can connect with qualified professionals from the comfort of their homes, ensuring convenient and timely access to medical advice and consultations. Our website also boasts a comprehensive repository of medical information, empowering users with accurate resources for self-education and informed decision-making. Furthermore, we embrace the potential of AI-driven diagnostics, providing users with preliminary insights into potential health issues. Our commitment to healthcare innovation extends to fostering a collaborative environment, where medical practitioners can engage in knowledge-sharing and stay updated on the latest advancements. Join us in shaping the future of healthcare through Healthcare Innovative – where technology meets compassion for a healthier world."
            </p>
            <img class="about-img" src="photos/jpeg.jpeg" />


        </div>

    </div>
    <div class="third-section">
        <div id="heading">
            <h2>Our Services</h2>
            <hr>

            <div class="image-container">
                <img class="a" src="photos/nutrition.jpg" \ alt="Image">

                <a href="http://127.0.0.1:5501/fitness&nutrition.html" class="button">Fitness diet & Nutrition</a>
                <img class="a1" src="photos/demo.png.jpg" \ alt="Image">
                <a href="https://en.wikipedia.org/wiki/Healthcare_in_India" class="button1">FreeDemo</a>

                <img class="a2" src="photos/hospital1.jpg" \ alt="Image">
                <a href="/lifesaver" class="button3">LifeSaver</a>

            </div>

        </div>
    </div>
<div class="footer " data-aos="fade-in" data-aos-duration="2000">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Healthcare Innovative</h2>
                        <h3>IIIT Kalyani,near highway-741235</h3>
                        <div class="footer-menu">
                            <p>+919509524828</p>
                            <p >healthcareinn@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://twitter.com/Healthcare77899"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61550305226265"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://youtube.com/@ajstyle5297"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/healthcare_innovative/"><i class="fab fa-instagram"> </i></a>
                            <a href="https://www.linkedin.com/in/healthcare-innovative-200b20287/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="/termsandcondition">Terms & Conditions</a>, All Right Reserved | Designed By <a href="https://github.com/Neerajsainii/Hackstreet_coders">HACKSTREET CODERS</a></p>
                </div>
            </div>
        </div>   
      </footer>
  
       


</body>

</html>
