<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Innovative</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style1.css">
    <script src="https://kit.fontawesome.com/a9037bba18.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-img">
                <div class="logo">

                </div>

            </div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#heading">Services</a></li>
                    <li><a href="https://timesofindia.indiatimes.com/life-style/health-fitness/health-news">Latest updates</a></li>
                    
                </ul>

                <a href="/login" class="button_">Login</a>

            </div>

        </nav>
    </header>
    <P>Terms of Services of Medical Solution Website

These Terms of Service ("Terms") govern your use of [Medical Solution Website] (referred to as "we," "us," or "our"). By accessing or using the website, you agree to comply with and be bound by these Terms. If you do not agree with these Terms, please do not use the website.

1. Use of Services

You agree to use the website for lawful purposes and in a manner that does not violate any applicable laws or regulations. You also agree not to engage in any activity that may disrupt the website's functionality or interfere with other users' ability to use the website.

2. Medical Disclaimer

The content provided on the website is for informational purposes only and is not a substitute for professional medical advice, diagnosis, or treatment. Always consult a qualified healthcare provider for medical concerns. We do not endorse or recommend any specific medical treatments, products, or services.

3. User Accounts

Some features of the website may require you to create a user account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.

4. User-Generated Content

You may have the opportunity to contribute content to the website, such as comments, reviews, or forum posts. By submitting content, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, reproduce, modify, adapt, publish, translate, create derivative works, distribute, and display that content.

5. Intellectual Property

The website and its content, including text, graphics, logos, images, and software, are protected by copyright and other intellectual property laws. You may not reproduce, distribute, modify, or create derivative works based on the content without our explicit permission.

6. Limitation of Liability

We make reasonable efforts to provide accurate and up-to-date information on the website, but we do not guarantee the accuracy, completeness, or reliability of the content. We shall not be liable for any direct, indirect, incidental, special, or consequential damages arising from your use or inability to use the website.

7. Links to Third-Party Websites

The website may contain links to third-party websites. We do not endorse or control these third-party sites, and we are not responsible for their content or practices. Your use of such sites is subject to their respective terms and conditions.

8. Modification of Terms

We reserve the right to modify these Terms at any time. The updated terms will be posted on the website, and your continued use of the website after any changes constitutes your acceptance of the modified terms.

9. Governing Law

These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction], without regard to its conflict of law principles.</P>
</body>
<div class="footer " data-aos="fade-in" data-aos-duration="2000">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Healthcare Innovative</h2>
                        <h3>IIIT Kalyani,near highway-741235</h3>
                        <div class="footer-menu">
                            <p>+919509524828</p>
                            <p >healthcareinn@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://twitter.com/Healthcare77899"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61550305226265"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://youtube.com/@ajstyle5297"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/healthcare_innovative/"><i class="fab fa-instagram"> </i></a>
                            <a href="https://www.linkedin.com/in/healthcare-innovative-200b20287/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="/termsandcondition">Terms & Conditions</a>, All Right Reserved | Designed By <a href="https://github.com/Neerajsainii/Hackstreet_coders">HACKSTREET CODERS</a></p>
                </div>
            </div>
        </div>   
      </footer>
  
       


</body>

</html>
