* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'poppins', 'sans-sarif';
    /* background: rgb(183, 205, 183); */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(62, 201, 247);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: rgb(125, 130, 6);
}

.nav-img {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("/public/photos/ddddd.png");
    background-size: cover;
    height: 60px;
    width: 260%;
    margin-top: -10px;



}


.first-section {
    display: flex;
    justify-content: space-around;

    background-image: url("/public/photos/bg.jpg");
    background-size: 100%;

    background-color: rgba(0, 200, 255, 0.466);
    margin-bottom: 400px;


}

.left-section {
    width: 40%;
    font-size: 7rem;
    padding: 0 90px;
    margin: 120px;


}

.red {
    color: red;

}

.right-section {
    display: flex;
    justify-content: space-around;
    margin: 120px;
}

.right-section img {
    margin: 0;
    padding: 0 10px;
    width: 150%;

}

/* .right-section img:hover{
    transform: scale(0.75);
    animation: backwards;
} */


.st {
    position: relative;
    border-radius: 80%;
    display: flex;
    justify-content: none;

}

.image1 {
    position: relative;

}

.image2 {
    position: absolute;
    padding-top: 200px;
    margin-top: 200px;


}

.second-section {
    margin-bottom: 570px;
}

#about h1 {
    margin-top: -300px;
    margin-left: 750px;
    font-size: 3.5rem;

}

#about-img {
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: none;
    margin: -280px 90px;

}

#about p {
    margin-top: 35px;
    margin-left: 700px;
    margin-right: 100px;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: -300px;
}

#heading h2 {

    font-size: 4rem;
    margin-left: 600px;
    margin-right: 100px;
    text-align: justify;
    margin-top: 350px;

}

#hr {
    border: 0;
    background: #535354;
    height: 1.2px;
    margin: 2.5px 84px;
}

.third-section {
    background-color: rgb(189, 240, 244);
    margin-top: -270px;
}



.container {

    width: 400px;

    top: 10px;
    left: 20px;
}



.image-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.a {
    margin-left: 165px;
    height: 250px;
    width: 270px;
    margin-top: 50px;


}

.a:hover {
    transform: scale(1.05);
}

.button {
    position: relative;
    /* top:150px;
     right:45px;  */
    margin-top: -490px;
    margin-left: 140px;
    font-size: 2.0rem;
    text-decoration: none;
    color: rgb(59, 211, 66);

    /* color:rgb(244, 224, 7); */



}

.button:hover {
    color: rgb(220, 11, 11);
    text-decoration: underline;
    /* text-decoration: underline overline; */

}

.a1 {
    margin-left: 650px;
    height: 250px;
    width: 270px;
    margin-top: -295px;
    margin-bottom: 70px;
}

.button1 {
    position: relative;
    top: -60px;

    margin-left: 720px;
    font-size: 2.0rem;
    text-decoration: none;
    color: rgb(59, 211, 66);


}

.button1:hover {
    color: rgb(220, 11, 11);
    text-decoration: underline;

}

.a1:hover {
    transform: scale(1.05);
}

.a2 {
    margin-left: 1100px;
    top: -600px;
    height: 250px;
    width: 270px;
    margin-top: -495px;
    margin-bottom: 120px;

}

.a2:hover {
    transform: scale(1.05);
}



.button3 {
    position: relative;
    top: -120px;

    margin-left: 1190px;
    font-size: 2.0rem;
    text-decoration: none;
    color: rgb(59, 211, 66);

}

.button3:hover {

    color: rgb(220, 11, 11);
    text-decoration: underline;
}

.button_ {
    display: inline-block;
    padding: 10px 18px;
    background: rgb(9, 127, 117);
    border-radius: 40px;
    font-size: 25px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 900px;
    margin-top: -20px;

}

.button_:hover {
    color: blue;

}
.footer {
      position: relative;
      margin-top: 45px;
      background: #073947;
  }
  
  .footer .container-fluid {
      padding: 60px 0 0 0;
  }
  
  .footer .footer-info {
      position: relative;
      width: 100%;
      text-align: center;
  }
  
  .footer .footer-info h2 {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
  }
  
  .footer .footer-info h3 {
      margin-bottom: 25px;
      font-size: 22px;
      font-weight: 600;
      color: #ffffff;
  }
  
  .footer .footer-menu {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  
  .footer .footer-menu p {
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      line-height: 20px;
      padding: 0 15px;
      border-right: 1px solid #ffffff;
  }
  
  .footer .footer-menu p:last-child {
      border: none;
  }
  
  .footer .footer-social {
      position: relative;
      margin-top: 15px;
  }
  
  .footer .footer-social a {
      display: inline-block;
  }
  
  .footer .footer-social a i {
      margin-right: 15px;
      font-size: 20px;
      color: #d8e1f0;
      transition: .3s;
  }
  
  .footer .footer-social a:last-child i {
      margin: 0;
  }
  
  .footer .footer-social a:hover i {
      color: #29b6af;
  }
  
  .footer .copyright {
      position: relative;
      text-align: center;
      margin-top: 30px;
      padding-top: 25px;
      padding-bottom: 25px;
  }
  
  .footer .copyright::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 1px;
      top: 0;
      left: 25%;
      background: rgba(256, 256, 256, .2);
  }
  
  .footer .copyright p {
      margin: 0;
      color: #ffffff;
  }
  
  .footer .copyright .col-md-6:last-child p {
      text-align: right;
  }
  
  .footer .copyright p a {
      color: #ffffff;
      font-weight: 600;
  }
  
  .footer .copyright p a:hover {
      color: #18bbd0;
  }
  
  @media (max-width: 575.98px) {
      .footer .footer-info h2 {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: 600;
      }
  
      .footer .footer-info h3 {
          margin-bottom: 20px;
          font-size: 16px;
      }
  
      .footer .footer-menu p {
          font-size: 16px;
          line-height: 16px;
          padding: 0 5px;
      }
  }



